<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
</head>
<body>
<h3>USER </h3>
<table border="1" width="500">
    <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>roles</th>
    </tr>

    <tr th:each="user: ${user}">

        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getFirstName()}">First Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getRoles()}">Role</td>

    </tr>
</table>
<br/>
<a th:href="@{/login}">logout</a>
</div>
</body>
</html>